*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: linear-gradient(to right, rgb(2, 27, 255),rgb(215, 0, 0));
    width: 1200px;
    margin: 0 auto;
   
}
.row{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
}
.img-content{
    width: 50%;
    padding-top: 20px;
    
    
    
}
.img-content img{
    width: 500px;
    height: 500px;
    
}
  
.btn{
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;

    
}
.btn img{
    width: 90px;
    height: 90px;
   

}

.text-content{
    width: 50%;
    padding-top:  60px;
    
    
}
.text-content h1{
   font-size: 30px;
   font-family: sans-serif;
   text-transform: uppercase;
   color: rgb(255, 218, 9);
}
.para{
  
    font-family: sans-serif;
    padding: 20px;
    margin-top: 10px;
    color: rgb(255, 251, 251);
}
.text-content input{
    padding: 15px 80px;
}
.signup{
    margin-top: 30px;
}
.signup p{
   padding: 10px;
   
}
.signup label{
    font-family: sans-serif;
    
}
.signup input{
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 17px;
    font-family: sans-serif;
    
    position: relative;
}
.username{
    position: absolute;
    z-index: 10;
    margin-left: 40px;
    margin-top: 8px;
}
#button{
    padding: 14px 160px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    font-family: sans-serif;
    color: rgb(80, 80, 80);
}
#button:hover{
    background-color: rgb(0, 170, 99);
    color: #fff;
}
.forget-pass{
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
}
.forget-pass:hover{
    color: rgb(255, 209, 5);
}
.social-icon li{
    list-style-type: none;
}
.social-icon{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transition: 5s;
}
.social-icon img{
    width: 80px;
    height: 80px;
   
   
}
.social-icon img:hover{
    transform: translateY(10px);
}
@media screen and (max-width:1020px) {
    .container{
        background-image: linear-gradient(to right, rgb(2, 27, 255),rgb(215, 0, 0));
        max-width: 1000px;
        height: 2040px;
        margin: 0 auto;
       
    }
    .row{
        width: 100%;
        display: block;
        text-align: center;
        text-align: center;
     }
     .img-content{
        width: 100%;
        padding-top: 20px;
        
        
        
    }
    
.text-content{
    width: 100%;
    padding-top:  60px;
    color: rgb(255, 251, 251);
    margin-top: 100px;
    
}
     #button{
        padding: 14px 160px;
        border-radius: 30px;
        border: none;
        font-size: 17px;
        font-family: sans-serif;
        color: rgb(80, 80, 80);
    }
    .text-content h1{
        margin-bottom: 30px;
        font-size: 30px;
        font-family: sans-serif;
        text-transform: uppercase;
        color: rgb(255, 218, 9);
     }
}